.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}
.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}
.header-top {
    width: 160px;
    height: 60px;
    background-color: white;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.header-top-left {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.header-top-center {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.header-top-right {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left; 
}
.right {
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
}
.right-upper {
    width: 150px;
    height: 50px;
    background-color: white;
    float: left;
    margin: 40px 60px 0px 40px;
}
.right-upper-left {
    width: 140px;
    height: 40px;
    background-color: #d98d30;
    margin: 5px 5px 5px 5px;
}
.right-center {
    width: 150px;
    height: 50px;
    background-color: white;
    float: left;
    margin: 10px 60px 10px 40px;
}
.right-center-center {
    width: 140px;
    height: 40px;
    background-color: #d98d30;
    margin: 5px 5px 5px 5px;
}
.right-lower {
    width: 150px;
    height: 50px;
    background-color: white;
    float: left;
    margin: 0px 40px 40px 40px;
}
.right-lower-right {
    width: 140px;
    height: 40px;
    background-color: #d98d30;
    margin: 5px 5px 5px 5px;
}
.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}
* {
    margin: 0;
    padding: 0;
}